$font-family-base: "Arimo", sans-serif;
$primary: #356292;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/card";



/*
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-regular-webfont.woff2") format("woff2"), url("../fonts/arimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-bold-webfont.woff2") format("woff2"), url("../fonts/arimo-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-italic-webfont.woff2") format("woff2"), url("../fonts/arimo-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
*/

body {
  background: url("../img/background.png");
  background-repeat: repeat;
}

.btn-menu-lg {
  width: 30%;
  white-space: normal;
}

.btn-menu-sm {
  width: 12.4%;
}

.news {
  height: 260px;
  @include media-breakpoint-up(xl) {
    height: 240px;
  }
}

.news-header {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color: $primary;
}

