$font-family-base: "Arimo", sans-serif;
$primary: #356292;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "responsive-fonts.scss";

/*
@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-regular-webfont.woff2") format("woff2"), url("../fonts/arimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-bold-webfont.woff2") format("woff2"), url("../fonts/arimo-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo', sans-serif;
  src: url("../fonts/arimo-italic-webfont.woff2") format("woff2"), url("../fonts/arimo-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
*/

//Общие стили и стили для главной страницы
body {
  background: url("../img/background.png");
  background-repeat: repeat;
  -webkit-user-select: none;
}

.margin-main {
  margin-bottom: 120px;
}

.kiosk-title {
  display: block;
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.btn-menu-lg {
  width: 30%;
  white-space: normal;
  height: 125px;
  @include media-breakpoint-up(xl) {
    height: 115px;
  }
}

.btn-group {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
  }
}


.news {
  height: 280px;
  @include media-breakpoint-only(xs) {
    height: auto;
  }

  @include media-breakpoint-up(xl) {
    height: 200px;
  }
}

.clock {
  display: block;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.news-header {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  background-color: #9b9eb3;
}

.weather-title {
  font-size: 0.9rem; //для больших
  @include media-breakpoint-up(xl) {
    font-size: 1rem; //для маленьких
  }
}

.table-weather tr {
  height: 50px;
  @include media-breakpoint-up(xl) {
    height: 49px;
  }
}

.weather-block {
  color: white;
  font-size: 20px;
  background-image: url("../img/weather-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.text-update {
  font-size: 16px;
}

.down-menu-button-img {
  @include media-breakpoint-down(sm) {
    height: 20px;
  }
}

//для страниц, где есть iframe (Сайт СКФУ и еКампус)
iframe {
  position: relative;
  z-index: -10;
}

.modal-body--index {
  //здесь написать правила для больших
  @include media-breakpoint-up(xl) { //для маленьких
    max-height: 700px;
    overflow-y: scroll;
  }
}

.modal-lg--index {
  //здесь написать правила для больших
  @include media-breakpoint-up(xl) { //для маленьких
    max-width: 1000px;
  }
}

//цвет полосы прокуртки для scroll pane
.jspTrack {
    background: #eee;
}

//цвет бегунка прокрутки для scroll pane
.jspDrag {
    background: #bcbcbc;
}


//Стили для страницы Корпуса
.map {
  position: relative;
}

.btn-way {
  position: absolute;
  bottom: 20px;
  left: 40px;

    @include media-breakpoint-up(xl) {
      left: 20px;
    }
}

.tab-bg {
  background-color: #fff;
  margin-top: -2px;
}

.tab-title {
  background-color: #dee2e6;
  font-size: 20px;
}

.btn-korpus {
  width: 8%;

  @include media-breakpoint-down(sm) {
    width: 30%;
  }
}

//Стили для страницы Визитка
.icon-text {
  padding-left: 160px;
  @include media-breakpoint-down(sm) {
    word-break: break-all;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}


%icon {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  width: 540px;
  height: 77px;
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    width: auto;
    background-size: 100%;
    background-position-x: left;
  }
}

.icon1 {
  @extend %icon;
  background-image: url("../img/p1.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon2 {
  @extend %icon;
  background-image: url("../img/p2.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon3 {
  @extend %icon;
  background-image: url("../img/p3.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon4 {
  @extend %icon;
  background-image: url("../img/p4.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon5 {
  @extend %icon;
  background-image: url("../img/p5.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon6 {
  @extend %icon;
  background-image: url("../img/p6.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon7 {
  @extend %icon;
  background-image: url("../img/p7.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon8 {
  @extend %icon;
  background-image: url("../img/p8.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon9 {
  @extend %icon;
  background-image: url("../img/p9.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon10 {
  @extend %icon;
  background-image: url("../img/p10.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon11 {
  @extend %icon;
  background-image: url("../img/p11.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}

.icon12 {
  @extend %icon;
  background-image: url("../img/p12.png");
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}



//Институты
.card-inst {
  width: 31.2%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  @include media-breakpoint-down(md) {
    width: 40%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

//Детальная страница института
.address {
  padding-left: 200px;
  position: relative;
}

.address::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  background: url("../img/address-icon.png");
}


//Студенческая жизнь
.card-life {
  width: 31.2%;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  @include media-breakpoint-down(md) {
    width: 40%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
